<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Blackjack</h1>
    <h2 th:text="'Dealer: ' + ${dealerHand.value}" />
    <div class="container">
        <div th:each="card : ${dealerHand.cards}">
            <pre><code th:text="${card}" /></pre>
        </div>
    </div>
    <h2 th:text="'Player: ' + ${playerHand.value}" />
    <div class="container">
        <div th:each="card : ${playerHand.cards}">
            <pre><code th:text="${card}" /></pre>
        </div>
    </div>
    <h2 th:text="${message}" />
    <p th:text="'Money: ' + ${money}" />
    <form action="./deal" method="get">
        <label><input type="number" name="bet" min="1" placeholder="Bet"></label>
        <input type="submit" value="Deal">
    </form>
</body>
</html>