<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
</head>
<body>
    <h1>Blackjack</h1>
    <h2 th:text="'Dealer: ' + ${dealerHand.value}" />
    <div class="container">
        <pre th:each="card : ${dealerHand.cards}"><code th:text="${card}" /></pre>
    </div>
    <h2 th:text="'Player: ' + ${playerHand.value}" />
    <div class="container">
        <pre th:each="card : ${playerHand.cards}"><code th:text="${card}" /></pre>
    </div>
    <th:block th:if="${ongoing}">
        <br><form method="post">
            <input id="hit-button" class="input" type="submit" value="Hit" th:formaction="'./' + ${id} + '/hit'">
            <input id="stand-button" class="input" type="submit" value="Stand" th:formaction="'./' + ${id} + '/stand'">
        </form>
    </th:block>
    <th:block th:unless="${ongoing}">
        <h2 th:text="${message}" />
        <p th:text="'Money: ' + ${money}" />
        <form th:action="'./' + ${id} + '/deal'" method="get">
            <label><input type="number" name="bet" min="1" step=".01" placeholder="Bet" autofocus></label>
            <input type="submit" value="Deal">
        </form>
    </th:block>
</body>
</html>
